{
	email {$TLS_EMAIL}
}

replicahomesaloonservice.in, www.replicahomesaloonservice.in, replicahomesalon.online, www.replicahomesalon.online, replicahomesalon.in, www.replicahomesalon.in {
	redir https://replicahomesalon.com{uri} permanent
}

{$DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	handle /api/* {
		reverse_proxy api:4000
	}

	handle {
		reverse_proxy web:3000
	}
}
